<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ALKure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
  <!-- theme stylesheet-->
  <link rel="stylesheet" type="text/css" href="css/style.default.css" id="theme-stylesheet">   <!--my bootstrap file for layout.ejs -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  
</head>
<body>
<div class="page-holder" style="background-color:rgb(208, 236, 238);">
  <!-- navbar-->
  <header class="header bg-white">
    <div class="container px-lg-3">
      <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0 pt-4">
          <a class="navbar-brand" href="/"><span class="fw-bold text-dark"><img src="/images/100Size.jpg">ALKure</span><span class="small text-muted">Crochet</span></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <!-- Link--><a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link" href="#">Products</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <!-- landingPage.html -->
            <% if(sessionInfo?.user !== null){ %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome, <%= sessionInfo?.user?.Name %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </li>
              <% } 
              else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              <%
             } %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <div id="carouselExampleControls" class="carousel slide mt-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/bg1.jpg~q=85" class="d-block w-100" style="max-height: 500px;" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="container py-3">
              <div class="row justify-content-center px-4 px-lg-3">
                <div class="col-lg-6 text-center">
                  <p class="md text-uppercase mb-2 text-dark">New Inspiration 2024</p>
                  <p class="md text-uppercase mb-2 text-dark"><strong>End of the Season Sale is Alive!</strong></p>
                  <a class="btn btn-dark" href="#">Browse our Collection</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- CATEGORIES SECTION-->
    <section class="pt-5">
      <header class="text-center">
        <p class=" small text-uppercase mb-1">Created with Love&Care</p>
        <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
      </header>
      <div class="row">
        <div class="col-md-4">
          <a class="category-item" href="#"><img class="img-fluid" src="/images/img/1flower.jpg" alt=""><strong class="category-item-title">Flowers</strong></a>
        </div>
        <div class="col-md-4">
          <a class="category-item mb-4" href="#"><img class="img-fluid" src="/images/img/1toy.jpeg" alt=""><strong class="category-item-title">Toys</strong></a>
          <a class="category-item" href="#"><img class="img-fluid" src="/images/img/1cardigan.jpg" alt=""><strong class="category-item-title">Cardigans</strong></a>
        </div>
        <div class="col-md-4 ">
          <a class="category-item mb-4" href="#"><img class="img-fluid" src="/images/img/1tools.jpeg" alt=""><strong class="category-item-title">Tools</strong></a>
          <a class="category-item" href="#"><img class="img-fluid" src="/images/img/blanket.jpg" alt=""><strong class="category-item-title">Blankets</strong></a>
        </div>
      </div>
    </section>
    <br>
    <!-- SERVICES-->
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row text-center gy-3">
          <div class="col-lg-4">
            <div class="d-inline-block">
              <div class="d-flex align-items-end">
                <svg class="svg-icon svg-icon-big svg-icon-light">
                  <use xlink:href="#delivery-time-1"></use>
                </svg>
                <div class="text-start ms-3">
                  <h6 class="text-uppercase mb-1">Free shipping</h6>
                  <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-inline-block">
              <div class="d-flex align-items-end">
                <svg class="svg-icon svg-icon-big svg-icon-light">
                  <use xlink:href="#helpline-24h-1"></use>
                </svg>
                <div class="text-start ms-3">
                  <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                  <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-inline-block">
              <div class="d-flex align-items-end">
                <svg class="svg-icon svg-icon-big svg-icon-light">
                  <use xlink:href="#label-tag-1"></use>
                </svg>
                <div class="text-start ms-3">
                  <h6 class="text-uppercase mb-1">Festivaloffers</h6>
                  <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
  </div>

  <footer class="bg-dark text-white">
    <div class="container py-4">
      <div class="row py-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3">Customer services</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="footer-link" href="#!">Help &amp; Contact Us</a></li>
            <li><a class="footer-link" href="#!">Returns &amp; Refunds</a></li>
            <li><a class="footer-link" href="#!">Online Stores</a></li>
            <li><a class="footer-link" href="#!">Terms &amp; Conditions</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3">Company</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="footer-link" href="#!">What We Do</a></li>
            <li><a class="footer-link" href="#!">Available Services</a></li>
            <li><a class="footer-link" href="#!">Latest Posts</a></li>
            <li><a class="footer-link" href="#!">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase mb-3">Social media</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="footer-link" href="#!">Twitter</a></li>
            <li><a class="footer-link" href="#!">Instagram</a></li>
            <li><a class="footer-link" href="#!">Tumblr</a></li>
            <li><a class="footer-link" href="#!">Pinterest</a></li>
          </ul>
        </div>
      </div>
      <div class="border-top pt-4" style="border-color: #1d1d1d !important">
        <div class="row">
          <div class="col-md-6 text-center text-md-start">
            <p class="small text-muted mb-0">&copy; 2024 All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--  files-->
  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- Initialize Bootstrap carousel -->
  <script>
    var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleControls'), {
      interval: 5000 // Adjust the interval as needed
    });
  </script>

  <!-- My JavaScript file for all the event handlings -->
  <script src="/js/script.js"></script>

</div>
</body>
</html>
